#header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.5rem 0;
    display: flex;
    transform: translateY(-100%);

    @apply bg-green-800;

    .layout-container.show & {
        transform: translateY(0);
        transition: transform 1s ease-in-out 3s;
    }

    .device-info {
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        margin: -0.5rem 0;
        &:hover {
            @apply bg-green-700;
        }

        .dropdown-select-active:hover {
            background-color: transparent;
        }

        .dropdown-select-options {
            @apply bg-neutral-600;
        }
    }

    .profile-info {
        @apply flex items-center justify-center;
        gap: 1rem;
        cursor: pointer;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        margin: -0.5rem 0;

        &:hover {
            @apply bg-green-700;
        }

        .profile-name {

        }
        .profile-image {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            overflow: hidden;

            .fake-profile-image {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                @apply bg-neutral-800 text-green-600 text-xl font-bold;
            }
        }
    }
}